Repository byczeq/coreshot.eu: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,css,md}"
      run: npx biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,tsx}"
      run: npx biome lint {staged_files}

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

feat: temp remove leagal in footer
  src/components/Footer.tsx
Due: format, lint

chore: update devDeps
  .claude/settings.local.json
  biome.json
  package-lock.json
  package.json
Due: format

feat: add robots.txt and sitemap generation
  astro.config.mjs
  package-lock.json
  package.json
  public/robots.txt
Due: format

feat: add hidden build info comment to HTML output
  src/layouts/Layout.astro
  src/layouts/LegalLayout.astro
Due: none

chore: remove .claude from git tracking
  .claude/settings.local.json
Due: format

feat: make copyright year dynamic
  src/components/Footer.tsx
  src/i18n/translations.ts
Due: format, lint

fix: improve build date format readability
  src/layouts/Layout.astro
  src/layouts/LegalLayout.astro
Due: none

style: add red accent color to Shot in logo
  src/components/Footer.tsx
  src/components/StickyHeader.tsx
Due: format, lint

style: add color swap hover effect to logo
  src/components/Footer.tsx
  src/components/StickyHeader.tsx
Due: format, lint
